[Unit]
Description=composter python script
After=network.target

[Service]
Type=simple
User=pi
ExecStart=/home/pi/ComposterPi/composter.sh
WorkingDirectory=/home/pi/ComposterPi/
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

